---
import "@/globals.css";
import Layout from "@/layouts/Layout.astro";
import { getTranslationsFromUrl } from "@/i18n/translations";

export function getStaticPaths() {
  return [{ params: { lang: undefined } }, { params: { lang: "en" } }, { params: { lang: "es" } }];
}

const t = getTranslationsFromUrl(Astro.url);
---

<Layout>
  <main class="flex flex-col gap-2 p-4 h-full grow">
    <h3>Contacto</h3>
  </main>
</Layout>
