---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="flex flex-col gap-2 p-2 max-w-[800px]">
    <h1>WebTaller</h1>
    <div class="container">
      <a href="/WebTaller/demo.html">
        <button>View the demo</button>
      </a>
    </div>
  </main>
</Layout>
