@import "tailwindcss";
@import "@fontsource-variable/montserrat";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-foreground: var(--theme-color-foreground);
  --color-background: var(--theme-color-background);
  --color-primary: var(--theme-color-primary);
  --color-primary-foreground: var(--theme-color-primary);
  --color-secondary: var(--theme-color-secondary);
  --color-secondary-foreground: var(--theme-color-secondary-foreground);
  --color-accent: var(--theme-color-accent);
  --color-destructive: var(--theme-color-destructive);
  --color-border: var(--theme-color-border);
  --color-input: var(--theme-color-input);
  --color-ring: var(--theme-color-ring);
  --radius: 0.5rem;
  --shadow-base: var(--theme-shadow-base);
  --color-rojo-resano: #da2a1e;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  [data-theme="light"] {
    --theme-color-foreground: hsl(0 0% 8%);
    --theme-color-background: hsl(0 0% 98%);
    --theme-color-primary: hsl(237, 94%, 51%);
    --theme-color-primary-foreground: hsl(0 0% 98%);
    --theme-color-secondary: hsl(0 0% 96.1%);
    --theme-color-secondary-foreground: hsl(0 0% 9%);
    --theme-color-accent: hsl(0 0% 96.1%);
    --theme-color-destructive: hsl(0 84.2% 60.2%);
    --theme-color-border: hsl(0 0% 14.9%);
    --theme-color-input: hsl(0 0% 89.8%);
    --theme-color-ring: hsl(0 0% 3.9%);
    --theme-shadow-base: 0 20px 25px -5px rgb(0, 0, 0, 0.3), 0 8px 10px -6px rgb(0, 0, 0, 0.6);
  }

  [data-theme="dark"] {
    --theme-color-foreground: hsl(0 0% 98%);
    --theme-color-background: hsl(0 0% 3.9%);
    --theme-color-primary: hsl(237, 98%, 47%);
    --theme-color-primary-foreground: hsl(0 0% 98%);
    --theme-color-secondary: hsl(0 0% 14.9%);
    --theme-color-secondary-foreground: hsl(0 0% 98%);
    --theme-color-accent: hsl(0 0% 14.9%);
    --theme-color-destructive: hsl(0 62.8% 30.6%);
    --theme-color-destructive-foreground: hsl(0 0% 98%);
    --theme-color-border: hsl(0 0% 14.9%);
    --theme-color-input: hsl(0 0% 14.9%);
    --theme-color-ring: hsl(0 0% 83.1%);
    --theme-shadow-base: 0 0 30px 10px black;
  }
}

body {
  font-family: "Montserrat Variable", sans-serif;
  interpolate-size: allow-keywords;
  @apply text-foreground transition-colors duration-200;
}

@utility clickable {
  @apply hover:ring-1 hover:brightness-[1.2] active:!brightness-[1.4] select-none cursor-pointer;
}

@utility btn-base {
  @apply clickable flex flex-row flex-nowrap items-center justify-center gap-2 text-nowrap rounded-lg px-4 py-2 font-semibold border border-border shadow-lg;
}

@layer components {
  .btn-primary {
    @apply btn-base bg-primary text-white;
  }

  .btn-secondary {
    @apply btn-base bg-secondary;
  }

  .btn-outline {
    @apply btn-base border border-gray-500;
  }

  .styled-a {
    @apply underline hover:text-blue-800 dark:hover:text-blue-500;
  }
}
