@import "tailwindcss" source("../");
@import "@fontsource-variable/montserrat";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
  --color-foreground: var(--theme-color-foreground);
  --color-background: var(--theme-color-background);
  --color-primary: var(--theme-color-primary);
  --color-primary-foreground: var(--theme-color-primary-foreground);
  --color-secondary: var(--theme-color-secondary);
  --color-secondary-foreground: var(--theme-color-secondary-foreground);
  --color-accent: var(--theme-color-accent);
  --color-destructive: var(--theme-color-destructive);
  --color-border: var(--theme-color-border);
  --color-input: var(--theme-color-input);
  --color-ring: var(--theme-color-ring);
  --radius: 0.5rem;
  --shadow-base: var(--theme-shadow-base);
  --color-rojo-resano: #da2a1e;
  --color-darkblue: hsl(237 95% 16%);
  --color-blue: hsl(237 97% 24%);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  [data-theme="light"] {
    --theme-color-foreground: hsl(0 0% 8%);
    --theme-color-background: hsl(0 0% 98%);
    --theme-color-primary: hsl(238 100% 57%);
    --theme-color-primary-foreground: hsl(0 0% 98%);
    --theme-color-secondary: hsl(0 0% 96.1%);
    --theme-color-secondary-foreground: hsl(0 0% 9%);
    --theme-color-accent: hsl(0 0% 96.1%);
    --theme-color-destructive: hsl(0 84.2% 60.2%);
    --theme-color-border: hsl(0 0% 14.9%);
    --theme-color-input: hsl(0 0% 89.8%);
    --theme-color-ring: hsl(0 0% 3.9%);
    --theme-shadow-base: 0 20px 25px -5px rgb(0, 0, 0, 0.3), 0 8px 10px -6px rgb(0, 0, 0, 0.6);
  }

  [data-theme="dark"] {
    --theme-color-foreground: hsl(0 0% 98%);
    --theme-color-background: hsl(0 0% 3.9%);
    --theme-color-primary: hsl(237, 98%, 47%);
    --theme-color-primary-foreground: hsl(0 0% 98%);
    --theme-color-secondary: hsl(237, 100%, 66%);
    --theme-color-secondary-foreground: hsl(0 0% 98%);
    --theme-color-accent: hsl(0 0% 14.9%);
    --theme-color-destructive: hsl(0 62.8% 30.6%);
    --theme-color-destructive-foreground: hsl(0 0% 98%);
    --theme-color-border: hsl(0 0% 14.9%);
    --theme-color-input: hsl(0 0% 14.9%);
    --theme-color-ring: hsl(0 0% 83.1%);
    --theme-shadow-base: 0 0 30px 10px black;
  }

  h1 {
    @apply text-2xl sm:text-3xl font-bold
  }
}

body {
  font-family: "Montserrat Variable", sans-serif;
  interpolate-size: allow-keywords;
  @apply text-foreground transition-colors duration-200;
}

@utility clickable {
  @apply transition-all hover:scale-105 focus:scale-110 active:scale-110 select-none cursor-pointer;
}

@utility btn-base {
  @apply hover:ring-1 clickable flex flex-row flex-nowrap items-center justify-center gap-2 text-nowrap rounded-lg px-4 py-2 font-semibold border border-border shadow-lg;
}

@layer components {
  .btn-primary {
    @apply btn-base bg-primary text-white;
  }

  .btn-secondary {
    @apply btn-base bg-secondary;
  }

  .btn-outline {
    @apply btn-base border border-gray-500;
  }

  .styled-a {
    @apply underline hover:text-blue-800 dark:hover:text-blue-500;
  }

  .checkbox {
    @apply clickable relative w-11 h-6 bg-gray-300 rounded-full peer-focus:ring-2 peer-focus:ring-primary dark:peer-focus:ring-white dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary;
  }

  .pulse {
    border: 1px solid;
    animation: 3s pulse-keyframes ease-in-out infinite;
    text-shadow:
      1px 5px 8px rgba(16, 16, 16, 0.6),
      1px 10px 12px rgba(16, 16, 16, 0.6);
  }

  @keyframes pulse-keyframes {
    50% {
      box-shadow:
        inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.8);
    }
  }
}
