---
import Navbar from "@/components/Navbar";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/WebTaller/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Prueba</title>
	</head>
	<body class="min-h-dvh flex flex-col">
		<header>
			<Navbar />
		</header>
		<slot />
	</body>
</html>
